<template>
  <vue-dropzone id="dropzone" :options="dropzoneOptions" @vdropzone-file-added="processFile"></vue-dropzone>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import VueDropzone from 'vue2-dropzone';
import Vuex from 'vuex';

@Component({
  components: {
    VueDropzone,
  },
})
export default class LogViewer extends Vue {
    private dropzoneOptions = {
      url: '/',
      clickable: true,
      autoProcessQueue: false,
      paramName: 'file',
      addRemoveLinks: true,
      uploadMultiple: true,
      dictDefaultMessage: '<i class="fas fa-cloud-upload-alt"></i> Add log file',
      maxFiles: 1,
      accept: (file: File, done: () => void) => {
        done();
      },
    };

    public processingQueue() {
        return this.$store.state.processingQueue;
    }

    public processFile(file: File) {
        this.$store.commit('pushFile', file);
    }
}
</script>

<style lang="stylus" scoped>
@import url('../../node_modules/vue2-dropzone/dist/vue2Dropzone.min.css')

</style>
