<template>
  <div id="app">
    <b-navbar toggleable="md" type="light">
      <b-navbar-toggle target="navbar-content"></b-navbar-toggle>
      <b-navbar-brand href="#">
        <img src="./assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="" />
        Rorqual
      </b-navbar-brand>
      <b-collapse is-nav id="navbar-content">
        <b-navbar-nav>
          <b-nav-item to="/">Home</b-nav-item>
          <b-nav-item to="/about">About</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <main class="container" role="main">
      <router-view />
    </main>
  </div>
</template>

<style lang="stylus">
@import '../node_modules/bootstrap/dist/css/bootstrap.css'
@import '../node_modules/bootstrap-vue/dist/bootstrap-vue.min.css'

#app
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color #2c3e50
</style>
